<section class="page-header">
  <div class="logo">
  	<img src="http://localhost:4000/images/whitegreytransparent.png"> 
  </div>
  <h1 class="project-name"><a href="{{ site.url }}">{{ site.title }}</a></h1>
  <h2 class="project-tagline"><a href="{{ site.url }}/about">Taylor Franklin</a> - {{ site.tagline }}</h2>
<!--   <a href="#" class="btn">View on GitHub</a>
  <a href="#" class="btn">Download .zip</a>
  <a href="#" class="btn">Download .tar.gz</a> -->

	<ul class="soc">
	    <li><a class="soc-twitter" href="https://twitter.com/tfrank64" target="_blank"></a></li>
	    <li><a class="soc-linkedin" href="https://www.linkedin.com/in/taylorfranklin" target="_blank"></a></li>
	    <li><a class="soc-github" href="https://github.com/tfrank64/" target="_blank"></a></li>
	    <li><a class="soc-email1" href="mailto:tlf09a@acu.edu"></a></li>
	</ul>
</section>